%nav
  = link_to 'Add Customer', new_customer_path
- 10.times do
  %section.customer{class: cycle('expired', 'active')}
    %div.expiration
      %div.days
        %div.value 365
        %div.label Days
      %div.date
        %div.value Oct. 7th
        %div.label 2013
    %h2
      = link_to 'Acme Company', customer_path(1)
    %nav
      = link_to 'Edit', edit_customer_path(1)
      = link_to 'Delete', customer_path(1), method: 'delete'