%nav
  = link_to 'Add Customer', new_customer_path
- 10.times do
  %section.customer
    %div.expiration
      %div.days
        %div.value 365
        %div.unit Days
      %div.date
        %div.value Oct. 7th
        %div.year 2013
    = link_to customer_path(1) do
      %h2 Acme Company
    %nav
      = link_to 'Edit', edit_customer_path(1)
      = link_to 'Cancel', customer_path(1), method: 'delete'