%div.rows
  %div.row
    %label Customer Name
    %input{type: 'text', value: 'Acme Company'}
  %div.row
    %label Expiration
    %div.row
      %label Days
      %input{type: 'number', min: 0, max: 36500, value: 365}
    %div.divider
      or
    %div.row
      %label Date
      %input{type: 'date', value: '10/7/13'}
  %div.row
    %label 
      Notes 
      %em (Optional)
    %textarea{cols: 60, rows: 4}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod pretium ante, et sollicitudin nulla vulputate sit amet. Curabitur eget interdum nisl. Nam et porta mauris. Phasellus et risus nec risus gravida interdum. Donec sed arcu est, sed faucibus quam. Suspendisse potenti. Nunc suscipit nunc ut neque aliquet auctor. Donec id placerat elit. Etiam tristique placerat hendrerit. Mauris pharetra ornare lectus id pretium.